<ul *ngIf="user">
  <li> {{user.username}} scored {{ user.scores?.score1 }} points on <a href = "https://jsavory-94.github.io/ih-treasure-hunt/" target="_blank">Treasure Hunt</a></li>
  <li> {{user.username}} scored {{ user.scores?.score2 }} points on <a href = "https://therealsheng.github.io/Dragon-Pang/" target="_blank">Dragon Pang</a> </li>
  <li> {{user.username}} scored {{ user.scores?.score3 }} points on <a href = "https://lindaluisa.github.io/ih-mexicantrump-game/" target="_blank">Don Trumpito</a></li>
  <li> {{user.username}} scored {{ user.scores?.score4 }} points on <a href = "https://vladcio.github.io/fat-cat/" target="_blank">Fat Cat</a> </li>
</ul>